/* huy kich thuoc */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: white; 
}
/* background */
.container{
    background-image: url(/images/background.jpg);
    height: 100vh;
    /* kich thuoc mang hinh 100 */
    background-size: 100% 100%;
}

/* dan dong */
.logo{
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
}
.logo img{
    margin: 5px;
}
/* Danh sách menu */
.header{
    width: 80%;
    margin: 0 auto;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.menu li{
    list-style-type: none;
    display: inline-block;
    /* can le */
    padding: 0px 10px;
}

/* login */
.btn{
    background-color: transparent;
    border: none;
    color: #fff;
}
.btn-active{
    margin-left: 20px;
    background-color: #FFBC51;
    padding: 7px 25px;
    border-radius: 15px;
}
/* San Pham */
.product {
    align-items: center;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    text-align: center;
    color: yellow;
}

.product img {
    width: 50%;
    height: 10%;
}
.buy{
    width: 80%;
    height:50%;
}
.btn1{
    margin-top: 5px;
    background: #FFBC51;
    width: 100px;
    line-height: 20px;
    margin-left: 7px;
    border-radius: 15px;
    border: 1px solid #ccc;
    margin-left: 100px;
}
p{
    padding:5px;
}
p input{
    width: 250px;
    line-height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.lable{
    text-align: right;
    width: 150px;
    float: left;
    padding-left: 8px;
    padding-right: 2px;
}

/*  */
#log{
    text-align: center;
     font-style: italic;
     color: red;
     line-height: 20px;
}

/* update menu */
.menu li a {
    color: white;
    text-decoration: none;
}

.menu li a:hover {
    color: orange; /* Đổi màu chữ khi hover */
    /* Thêm gạch chân khi hover */
    /* text-decoration: underline;  */
}

.menu li a.active {
    color: orange; /* Màu chữ mặc định khi được chọn */
    text-decoration: underline; /* Gạch chân mặc định khi được chọn */
}
