*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-image: url(images/background.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    width:  560px;
    min-height: 300px;
    padding: 20px;
    border-radius: 50px ;
    border: 2PX solid #70AD47;
    position: relative;
    font-size: 22px;
}
.container::after{
    content: "FORM ĐĂNG KÝ";
    position: absolute;
    top: -15px;
    left: 100px;
    color: #548235;
    /* font-weight: ; */
    background-color: #939FC4;
    padding-right: 20px;
    padding-left: 10px;
    font-size: 25px; /*tang kich thuoc chu*/
    border-radius: 10px;
    border: 2PX solid #70AD47;
}
label {
    display: block;
    margin-bottom: 5px;
    position: absolute;
    margin-top: 3.5%;
    margin-left: 7%;
    color: #548235;
}
input[type="text"],input[type="password"]{
    width:90%;
    padding: 10px ;
    margin-top: 10px;
    margin-left: 25px;
    border-radius: 10px;
    border: 2px solid #2F528F;
    font-size: 17px;
}
.button {
    display: flex; /* Hiển thị các phần tử con theo chiều ngang */
    justify-content: center; /* Căn giữa các phần tử con */
    margin-top: 10px;
}
.btn-dk,.btn-reset{
    font-size: 20px; /* Kích thước chữ 20px */
    color: #548235; /* Màu chữ #548235 */
    background-color: #A9D18E; /* Màu nền #A9D18E */
    border-radius: 10px; /* Viền tròn */
    padding: 10px 50px; /* Kích thước ô lớn tí */
    margin-right: 5px; /* Cách nhau */
    border: 2px solid #2F528F;
    font-weight: bold;
}
/* hủy đổi màu ở các ô input */
input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #2F528F; /* Màu viền khi ô input được focus */
    outline: none; /* Loại bỏ đường viền (outline) mặc định */
}
